header{
    text-align: center;    
}
#container {
    display: grid ;
    grid-template-columns: auto 300px auto 300px auto;
    grid-template-rows: auto 120px 120px auto;
    max-width: 100%;
    min-width: 100%;
  }
  #player_space{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    border: 1px solid #000;
    text-align: center;
    min-width: 100%;
    max-width: 100%;
  }
  #computer_space{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    border: 1px solid #000;
    text-align: center;
    min-width: 100%;
    max-width: 100%;
}
#round_text{
    display: inline-block;
    font-size: 2em;
    height: 100%;
}
#round_results{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    min-width: 100%;
    max-width: 100%;
    }
#round_text_container{
    text-align: center;
    padding: 30px;
}
#winner_text{
    
    text-align: center;
}
#bottom_container{
    text-align: center;
}
.reset{
    display: none;
}